    * {
        margin: 0;
        padding: 0;
    }

    .cabecalho{
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(43, 129, 100);
    }

    .cartao {
        width: 260px;
        height: 200px;
    }

    .cartao-imagem {
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgb(111, 184, 159);
    }
    
        main {
            flex: 1;
        }

        .cabecalho-link {
            color: #fff;
            text-decoration: none;
        }

        h1{
            color: #fff;
            font-size: 24px;
        }

        footer{
            background-color: rgb(185, 233, 217);
            padding: 15px 25px;
            color: aliceblue;
        }